.photo-slider {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-slider img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.photo-slider img:hover {
  opacity: 0.7;
}

.photo-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.photo-slider button svg {
  display: block;
}

.previous_photo {
  left: 1rem;
}

.next_photo {
  right: 1rem;
}
